<!DOCTYPE html>
	<html>
		<head>
			<title>the-waves</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	    			<div align="center">
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/waves">waves</a></li>
	        		<li><a href="/profile">profile</a></li>
	        		<li><a href="/about">about</a></li>
	        		</div>
	        		<hr>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
